# OS / Editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Node
node_modules/

# Flutter / Dart
.dart_tool/
.packages
build/
*.lock
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
